// header
.header--news {
  background-image: $bannerGradient, url(../../images/news-banner.jpg);
}

// highlight
.highlight__image--news {
    background-image: url(../../images/home-image-5.jpg);
}

// moreNews
.moreNews {
  position: relative;
  margin-top: 100px;

  h2 {
    margin-bottom: 100px;
  }

  &__selectContainer {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 70px;
    text-align: center;
  }

  &__select {
    border: none;
    border-bottom: 2px solid $grey;
    padding: 5px 15px;
    color: $black;
  }
}

@media ( min-width: 576px ) {
  .moreNews {
    &__selectContainer {
      width: 100%;
      height: 50px;
      text-align: right;
      padding-right: 50px;
    }
  }
}

@media ( min-width: 992px ) {
  .moreNews {
    position: relative;

    h2 {
      margin-bottom: 0;
    }

    &__selectContainer {
      position: absolute;
      top: 0;
      padding-right: 50px;
    }
  }
}

@media ( min-width: 1200px ) {
  .moreNews {
    &__selectContainer {
      width: 1170px;
      padding-right: 0;
      margin: 0 auto;
    }
  }
}
